/* PrismJS theme using CSS variables for easy light/dark switching */

/* Prepend body to override imported prism themes */
body code[class*="language-"],
body pre[class*="language-"] {
    color: var(--token-text, #ccc);
    background: none;

    /* Layout properties removed: strict reliance on editor.css */
    text-align: left;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


body :not(pre)>code[class*="language-"],
body pre[class*="language-"] {
    background: var(--token-bg, #2d2d2d);
}

/* Inline code */
body :not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

body .token.comment,
body .token.block-comment,
body .token.prolog,
body .token.doctype,
body .token.cdata {
    color: var(--token-comment, #999);
}

body .token.punctuation {
    color: var(--token-punctuation, #ccc);
}

body .token.tag,
body .token.attr-name,
body .token.namespace,
body .token.deleted {
    color: var(--token-tag, #e2777a);
}

body .token.function-name {
    color: var(--token-function-name, #6196cc);
}

body .token.boolean,
body .token.number,
body .token.function {
    color: var(--token-function, #f08d49);
}

body .token.property,
body .token.class-name,
body .token.constant,
body .token.symbol {
    color: var(--token-property, #f8c555);
}

body .token.selector,
body .token.important,
body .token.atrule,
body .token.keyword,
body .token.builtin {
    color: var(--token-keyword, #cc99cd);
}

body .token.string,
body .token.char,
body .token.attr-value,
body .token.regex,
body .token.variable {
    color: var(--token-string, #7ec699);
}

body .token.operator,
body .token.entity,
body .token.url {
    color: var(--token-operator, #67cdcc);
}

body .token.important,
body .token.bold {
    font-weight: bold;
}

body .token.italic {
    font-style: italic;
}

body .token.entity {
    cursor: help;
}

body .token.inserted {
    color: var(--token-inserted, green);
}